body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #f0f0f0;
    overflow: hidden;
    cursor: url('') 16 16, auto;
}


:root{
    --primary-color: #f0f0f0;
    --secondary-color: #000000;
}

h1, h2,p{
    color: var(--primary-color);
    font-size: 20px;
}


header{
    background-color: var(--secondary-color);
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
   height: 10px;
}


ul{
    display: flex;
   list-style: none;
    margin: 0;
    padding: 0;
    gap: 2px;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

li{
    margin-right: 150px;
    list-style: none;
    font-size: 20px;
}

.container {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.texto {
    width: 50%;
}

.descricao {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.titulo{
    font-size: 70px;
    font-weight: bold;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 60px;
    box-shadow: 0 0 10px #f0f0f0;
}

.pulsar3{
    animation: pulsar3 2s infinite ease-in-out;
    display: inline-block;
}

.pulsar2{
    animation: pulsar2 2s infinite ease-in-out;
    display: inline-block;
}
.pulsar{
    animation: pulsar 2s infinite ease-in-out;
    display: inline-block;
}
.xoxo{
   width: 70px;
   height: 70px;
}

.mudarcolor{
    animation: mudarcolor 2s infinite ease-in-out;
    display: inline-block;
}
footer{
 text-align: center;
}

.projetos ul{

}


@keyframes pulsar {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px #a855f7, 0 0 20px #a855f7;
        filter: drop-shadow(0 0 8px #a855f7);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px #7dd3fc, 0 0 40px #7dd3fc;
        filter: drop-shadow(0 0 15px #75d2fd);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px #a855f7, 0 0 20px #a855f7;
        filter: drop-shadow(0 0 8px #a855f7);
    }
}

@keyframes pulsar2 {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px #ffeb39, 0 0 20px #ffd752;
        filter: drop-shadow(0 0 8px #fff45c);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px #979028, 0 0 40px #a39c33;
        filter: drop-shadow(0 0 15px #a5a323);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px #f7f455, 0 0 20px #e6ff05;
        filter: drop-shadow(0 0 8px #ffee00);
    }
}



@keyframes pulsar3 {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
        filter: drop-shadow(0 0 8px #ffffff);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px #ffb6d7, 0 0 40px #ffb6d7;
        filter: drop-shadow(0 0 15px #ffb6d7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
        filter: drop-shadow(0 0 8px #ffffff);
    }
}



@keyframes mudarcolor{
    0% {
        color: #f0f0f0;
    }
    50% {
        color: #222222;
    }
    100% {
        color: #f0f0f0;
    }
}